/*HOME*/
.banner-area {
    background: #f9f9ff;
}

.banner-left h6 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}

.banner-left h1 {
    margin: 20px 0;
    font-size: 60px;
    text-transform: uppercase;
}

.banner-left .primary-btn:hover {
    box-shadow: 0 20px 20px 0 rgba(132,144,255,.3);
}

.banner-right {
    text-align: center;
}

.section-gap {
    padding: 120px 0;
}
/*END HOME*/

/*SERVICE*/
.filters-content ul{
	overflow: hidden;
}

.filters-content ul li{
	float: left;
	width: calc(33.33% - 20px);
	margin-right: 30px;
}

.filters-content ul li:nth-child(3n){
	margin-right: 0;
}

.filters-content ul li img{
	width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.filters-content .thumb{
    border-radius: 5px;
    overflow: hidden;
    width: 350px;
    height: 350px;
}

.relative {
	position: relative;
}

.filters-content .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.thumb .overlay-bg {
    background: -moz-linear-gradient(0deg,#8490ff 0%,#62bdfc 100%);
    background: -webkit-linear-gradient(0deg,#8490ff 0%,#62bdfc 100%);
    background: -ms-linear-gradient(0deg,#8490ff 0%,#62bdfc 100%);
}

.thumb .overlay-bg {
    opacity: 0;
    border-radius: 5px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.filters-content .p-inner {
    padding: 20px 0;
    text-align: center;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
}

.middle .text{
    font-size: 25px;
    padding: 10px 25px;
    background: #fff;
    border-radius: 2px;
}

.filters-content ul li:hover .thumb .overlay-bg {
    opacity: .85;
}

.filters-content ul li:hover .middle {
    opacity: 1;
}

.middle .text p{
	margin-bottom: 0;
	background: -webkit-linear-gradient(0deg,#8490ff 0%,#62bdfc 100%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
/*END SERVICE*/

/*BLOG*/
.blog .banner{
	background: url('../images/blog-cover.jpeg') 50% 50% / cover no-repeat;
	padding: 120px 0;
	margin-top: 70px;
}

.blog .banner h1{
	font-size: 48px;
    font-weight: 700;
    color: #fff;
}

.blog .banner p {
    margin: 20px 0;
    color: #fff;
}

.post-content-area{
	padding: 90px 0;
	background-color: #f9f9ff;
}

.post-content-area .single-post {
    margin-bottom: 50px;
}

.post-content-area .single-post .meta-details {
    text-align: right;
    margin-top: 35px;
}

.post-content-area .single-post .meta-details .tags {
    margin-bottom: 30px;
}

.post-content-area .single-post .meta-details .tags li {
    display: inline-block;
    font-size: 14px;
}

.post-content-area .single-post .meta-details .tags li a {
    color: #222;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.post-content-area .single-post .meta-details .tags li a:hover {
    color: #8490ff;
}

.post-content-area .single-post .user-name a, .post-content-area .single-post .date a, .post-content-area .single-post .view a, .post-content-area .single-post .comments a {
    color: #777;
    margin-right: 10px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.post-content-area .single-post .user-name a:hover, .post-content-area .single-post .date a:hover, .post-content-area .single-post .view a:hover, .post-content-area .single-post .comments a:hover {
    color: #8490ff;
}

.post-content-area .single-post .feature-img img {
    width: 100%;
}

.post-content-area .single-post .posts-title h3 {
    margin: 20px 0;
}

.posts-list .posts-title h3:hover {
    color: #8490ff;
}

.post-content-area .single-post .excert {
    margin-bottom: 20px;
}

.post-content-area .single-post .primary-btn {
    background: #fff!important;
    color: #222!important;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    border-radius: 0!important;
}

.post-content-area .single-post .primary-btn:hover {
    background: #8490ff!important;
    color: #fff!important;
}

.widget-wrap {
    background: #fafaff;
    padding: 20px 0;
    border: 1px solid #eee;
}

.widget-wrap .single-sidebar-widget {
    margin: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}

.widget-wrap .single-sidebar-widget:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.widget-wrap .search-widget form{
	overflow: hidden;
}

.widget-wrap .search-widget form.search-form input[type=text] {
    color: #fff !important;
    padding: 12px 22px;
    font-size: 14px;
    border: none;
    float: left;
    width: 80%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background: #8490ff;
}

.widget-wrap .search-widget form.search-form input::placeholder{
	color: #fff;
}

.widget-wrap .search-widget form.search-form button {
    float: left;
    width: 20%;
    padding: 12px;
    background: #8490ff;
    color: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.widget-wrap .single-sidebar-widget {
    margin: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}

.widget-wrap .user-info-widget {
    text-align: center;
}

.widget-wrap .user-info-widget .avatar{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

.widget-wrap .user-info-widget img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.widget-wrap .user-info-widget a h4 {
    margin-top: 40px;
    margin-bottom: 5px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.widget-wrap .user-info-widget .social-links li {
    display: inline-block;
    margin-bottom: 10px;
}

.widget-wrap .user-info-widget .social-links li a {
    color: #222;
    padding: 10px;
    font-size: 14px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.widget-wrap .user-info-widget .social-links li a:hover {
    color: #8490ff;
}

.widget-wrap .popular-post-widget .popular-title {
    background: #8490ff;
    color: #fff;
    text-align: center;
    padding: 12px 0;
}

.widget-wrap .popular-post-widget .popular-post-list {
    margin-top: 30px;
}

.widget-wrap .popular-post-widget .single-post-list {
    margin-bottom: 20px;
}

.widget-wrap .popular-post-widget .single-post-list .details {
    margin-left: 12px;
}

.widget-wrap .popular-post-widget .single-post-list .details p {
    margin-bottom: 0;
}

.widget-wrap .newsletter-widget .newsletter-title {
    background: #8490ff;
    color: #fff;
    text-align: center;
    padding: 12px 0;
}

.widget-wrap .newsletter-widget p {
    text-align: center;
    margin: 20px 0;
}

.widget-wrap .newsletter-widget .col-autos {
    width: 100%;
}

.input-group-prepend {
    margin-right: -1px;
}

.input-group-prepend, .input-group-append {
    display: flex;
}

.widget-wrap .newsletter-widget .input-group-text {
    background: #fff;
    border-radius: 0;
    vertical-align: top;
}

.widget-wrap .newsletter-widget .input-group-text i {
    color: #ccc;
    margin-top: -1px;
}

.widget-wrap .newsletter-widget .bbtns {
    background: #8490ff;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 0px;
    border-radius: 0;
    width: 90px;
    text-align: center;
}

.widget-wrap .newsletter-widget .form-control {
    border-left: none!important;
    border-right: none!important;
    border-radius: 0;
    font-size: 13px;
    color: #ccc;
    padding: 9px;
    padding-left: 0;
}

.widget-wrap .tag-cloud-widget .tagcloud-title {
    background: #8490ff;
    color: #fff;
    text-align: center;
    padding: 12px 0;
    margin-bottom: 30px;
}

.widget-wrap .tag-cloud-widget ul li {
    display: inline-block;
    border: 1px solid #eee;
    background: #fff;
    padding: 4px 14px;
    margin-bottom: 10px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.widget-wrap .tag-cloud-widget ul li:hover {
    background: #8490ff;
}

.widget-wrap .tag-cloud-widget ul li a {
    font-size: 12px;
    color: #222;
}
/*END BLOG*/

/*BLOG DETAIL*/
.blog-detail {
    background: -moz-linear-gradient(0deg,#8490ff 0%,#62bdfc 100%);
    background: -webkit-linear-gradient(0deg,#8490ff 0%,#62bdfc 100%);
    background: -ms-linear-gradient(0deg,#8490ff 0%,#62bdfc 100%);
}

.about-content {
    margin-top: 70px;
    padding: 90px 0;
    text-align: center;
}

.about-content h1 {
    font-size: 48px;
    font-weight: 600;
    color: #fff;
}

.link-nav {
    margin-top: 10px;
    margin-bottom: 0;
}

.about-content a {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}

.about-content a:hover{
	color: #fff;
}

.about-content .zmdi {
    margin: 0 10px;
    font-weight: 600;
    color: #fff;
}

.single-post-area .meta-details {
    margin-top: 20px!important;
}

.single-post-area .quotes {
    margin-top: 20px;
    padding: 30px;
    background-color: #fff;
    box-shadow: -20.84px 21.58px 30px 0 rgba(176,176,176,.1);
}

.post-content-area .single-post {
    margin-bottom: 50px;
}

.single-post-area .navigation-area {
    border-top: 1px solid #eee;
    padding-top: 30px;
}

.single-post-area .navigation-area .nav-left {
    text-align: left;
}

.single-post-area .navigation-area .nav-left .thumb {
    margin-right: 20px;
    background: #000;
}

.single-post-area .arrow {
    position: absolute;
}

.single-post-area .navigation-area .nav-left .zmdi {
    margin-left: 20px;
    opacity: 0;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.single-post-area .navigation-area .nav-right {
    text-align: right;
}

.single-post-area .navigation-area .nav-right .thumb {
    margin-left: 20px;
    background: #000;
}

.comments-area {
    background: #fafaff;
    border: 1px solid #eee;
    padding: 50px 20px;
    margin-top: 50px;
}

.comments-area h4 {
    text-align: center;
    margin-bottom: 50px;
}

.comments-area .comment-list {
    padding-bottom: 30px;
}

.comments-area .thumb {
    margin-right: 20px;
}

.comments-area a {
    color: #222;
}

.comments-area .date {
    font-size: 13px;
    color: #ccc;
}

.comments-area .comment {
    color: #777;
}

.comments-area .comment-list.left-padding {
    padding-left: 25px;
}

.comments-area .btn-reply {
    background-color: #fff;
    color: #222;
    border: 1px solid #eee;
    padding: 8px 30px;
    display: block;
    font-weight: 600;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.comments-area .btn-reply:hover {
    background-color: #8490ff;
    color: #fff;
}

.comment-form {
    background: #fafaff;
    text-align: center;
    border: 1px solid #eee;
    padding: 50px 20px;
    margin-top: 50px;
}

.comment-form h4 {
    text-align: center;
    margin-bottom: 50px;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline .form-group {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 0;
}

.comment-form .name {
    padding-left: 0;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.form-group {
    margin-bottom: 1rem;
}

.comment-form .email {
    padding-right: 0;
}

.comment-form .form-control:focus {
    box-shadow: none;
    border: 1px solid #eee;
}

.comment-form .form-control {
    padding: 12px;
    background: #fff;
    border: none;
    border-radius: 0;
    width: 100%;
    font-size: 13px;
    color: #777;
}

.post-content-area .feature-img{
    width: 540px;
    height: 252px;
    overflow: hidden;
}

.single-post-area .feature-img{
    width: 730px;
    height: 340px;
    overflow: hidden;
}

.feature-img img,
.img-fluid-con img{
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.single-post-area .img-fluid-con{
    width: 350px;
    height: 340px;
    overflow: hidden;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.nav-menu li:hover a,
.nav-menu li:hover .zmdi{
    color: #0056b3;
}

.nav-menu ul {
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    z-index: 99;
}

.nav-menu ul li {
    min-width: 180px;
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu a {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #222;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
}

.nav-menu ul li a {
    padding: 5px 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 12px;
    text-transform: none;
}

.nav-menu ul li:hover > a {
    color: #8490ff;
}

.nav-menu li:hover > ul {
    display: block !important;
}

.nav-menu li .zmdi{
    font-size: 16px;
    display: inline-block;
}
/*END BLOG DETAIL*/

/*POPUP*/
#popup1.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
#popup1.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: absolute;
  transition: all 1s ease-in-out;
  top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #8490ff;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  margin-top: 10px;
}

.popup .content p{
    margin-bottom: 0;
}

.popup .content ul .row{
    margin-left: 0;
    margin-right: 0;
}

.popup .content ul li p:first-child{
    width: 20%;
}

.popup .content ul li p:last-child{
    color: #303330;
    width: 80%;
}
/*END POPUP*/